name: ci

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Prepare
        id: prepare
        run: |
            TAG=${GITHUB_REF##*/}
            echo "tag_name=${TAG}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to docker.io
        id: docker-login
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_HUB_USERNAME }}"
          password: "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}"
      - name: build and publish image
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.actor != 'dependabot[bot]' }}
          tags: |
            cathive/concourse-sonarqube-resource:${{ steps.prepare.outputs.tag_name }}
            cathive/concourse-sonarqube-resource:latest
